
<div class="row">
  <div class="col" *ngFor="let curso of cursos">
    <div class="card mt-5" style="width: 18rem;" >
      <img [src]="curso.foto" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{curso.nome}}</h5>
        <p class="card-text">{{curso.descricao}}</p>
        <p *ngIf="curso.promocao"><span class="badge badge-success">Promoção</span></p>
        <a href="#" class="btn btn-primary float-right">R${{curso.preco}}</a>
        <a  class="btn btn-primary float-left" (click)="curso.clicar()">Clique Aqui</a>
      </div>
    </div>

  </div>

</div>

